.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: rgb(35, 194, 197);
}
.DayPicker-Weekday {
    color:rgb(255, 255, 255);


}
.DayPicker-NavButton--prev {
    color:white;
}